<div class="wrapper-new">
  <h1 class="add_new">Please add/edit/delete a <br><br>WORD.</h1>
      <%if @error %>
      <p class='error'>
        <%= @error %>
      </div>
      <% end %>
  <form action="<%= words_form_action(@word) %>" method="post" id="<%= words_form_id(@word) %>" class="<%= words_form_class(@word) %>">
  <input type="hidden" name="_method" value="<%= words_form_method(@word) %>" />


      <label class="label" for ="word" >Make changes to the app.</label>
      <input type="text" name="text">


    <input type="submit" name="btn" class="button button--submit" value="Submit!">

  </form>