<h1 class="title_word_table">Words</h1>
<table class="table">
<thead>
	<th class="text-center">Text</th>
	<th class="text-center">Letters</th>
	<th class="text-center">Delete</th>
</thead>
<tbody>
	<% @words.each do |word| %>
	<tr>
	<td style="text-align: center">
		<a href="<%= "/words/#{word.id}" %>"><%= word.text %></a></td>
		<td style="text-align: center"><%= word.letters %></td>
		<td style="text-align: center">
		<a href="<%= "/words/#{word.id}/edit" %>">
		Edit </a>
		<td style="text-align: center"><form action="<%= "/words/#{word.id}" %>" method="post">
		<input type="hidden" name="_method" value="delete" />
		<button class="btn btn-danger" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button>
		</form>
		</td>
		</tr>
	<% end %>
	</tbody>
</table>